@media (max-width: 1400px) {
  .content-width {
    width: 1150px; }

  .services .item {
    width: calc(50% - 20px); }

  .img-3d .text .number {
    font-size: 85px; }

  .img-3d .text .item-2 .number {
    width: 160px; }

  .img-text-white .text {
    width: 47%;
    top: 40px; }

  .img-text-white .title-wrap {
    width: 47%; }

  .img-text-white .content {
    padding: 0; }

  .img-text-white .content .img {
    width: 47%; }

  .materials .accordion-item {
    margin-bottom: 15px; }

  .news-banner .content {
    padding: 0 30px; }

  .text-default figure {
    width: 100%;
    grid-gap: 20px;
    margin: 60px 0; }

  .text-default figure img {
    height: 450px; }

  .text-default figure img + img {
    max-width: calc(50% - 10px); }

  .text-default .content {
    max-width: 100%; }

  .text-default h2 {
    font-size: 30px; }

  .text-default h3 {
    font-size: 26px;
    margin: 30px 0 20px; }

  .text-default h4 {
    font-size: 24px;
    margin: 30px 0 20px; }

  .text-default h5 {
    font-size: 22px;
    margin: 30px 0 20px; }

  .text-default h6 {
    font-size: 20px;
    margin: 30px 0 20px; } }
@media (max-width: 1280px) {
  .content-width {
    width: 960px; }

  .news-banner .content {
    padding: 0; }

  .home-banner h1, .news-banner h1 {
    font-size: 36px;
    line-height: 1.2; }

  body {
    font-size: 16px;
    line-height: 22px; }

  h2 {
    font-size: 30px;
    line-height: 1.2; }

  .about {
    padding: 75px 0; }

  .about .logo-wrap {
    margin-top: 75px; }

  .info-block {
    padding: 75px 0 50px; }

  .info-block .content {
    margin-top: 0; }

  .info-block h5 {
    margin-bottom: 15px; }

  .info-block .img-bg {
    padding: 20px 25px; }

  .services .content {
    margin: -160px 0 -175px 155px;
    width: calc(100% - 155px);
    position: relative; }

  .services {
    padding: 75px 0 20px; }

  .news {
    padding: 75px 0 75px; }

  .news .title-item {
    font-size: 20px; }

  .news .item .wrap {
    padding: 24px 24px 65px; }

  footer .bottom .right ul {
    grid-gap: 15px; }

  footer {
    padding: 75px 0 50px; }

  footer .content-width {
    padding-top: 40px; }

  .sector-banner .bg .after {
    width: 300px; }

  .services-4x {
    padding-bottom: 120px; }

  .services-4x .content {
    margin-bottom: 0; }

  .img-3d .content figure {
    width: 100%;
    max-width: 100%;
    left: 0;
    margin-bottom: -50px; }

  .img-3d .content {
    margin-top: -240px; }

  .img-3d .text .number {
    font-size: 45px; }

  .img-3d .text p {
    font-size: 20px; }

  .img-3d .text .item-2 .number {
    width: 85px; }

  .img-3d .text .item-2:before {
    width: 500px; }

  .img-3d .text .item-3:before {
    width: 500px; }

  .img-3d .text .item-4:before {
    width: 650px; }

  .form-section {
    padding: 100px 0 100px; }

  .title-img-4x .title {
    font-size: 40px; }

  .news-block .filter-line .form-filter .input-wrap {
    width: 180px; }

  .news-block .filter-line .wrap, .news-block .filter-line .form-filter {
    grid-gap: 15px; }

  .contact .content {
    padding: 100px 0 0; } }
@media (max-width: 991px) {
  .content-width {
    width: 720px; }

  .open-menu {
    margin: 4px 0 0 30px;
    display: inline-block; }
    .open-menu a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background: #101010;
      padding: 10px 8px; }
      .open-menu a span {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff; }
      .open-menu a span + span {
        margin-top: 6px; }

  .top-menu {
    display: none; }

  .top-line .btn-wrap {
    display: none; }

  .menu-responsive {
    width: 100%;
    background: transparent;
    background-size: cover;
    padding: 0;
    overflow: hidden auto;
    margin: 0;
    vertical-align: top;
    position: absolute;
    height: auto;
    max-height: 100%;
    right: -100vw;
    top: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease; }
    .menu-responsive:after {
      content: "";
      display: table;
      clear: both; }
    .menu-responsive .wrap {
      padding: 33px 30px 100px;
      width: 320px;
      float: right;
      background: #000;
      min-height: 100vh; }
    .menu-responsive .btn-wrap {
      margin-top: 30px;
      display: none; }
    .menu-responsive .close-menu {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 35px;
      height: 35px; }
      .menu-responsive .close-menu i {
        font-size: 18px;
        line-height: 1;
        color: #fff; }
      .menu-responsive .close-menu a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 100%;
        padding: 5px; }
    .menu-responsive .fancybox-close-small {
      display: none; }
    .menu-responsive .mob-menu-wrap {
      margin-bottom: 25px; }
      .menu-responsive .mob-menu-wrap > ul {
        display: block; }
        .menu-responsive .mob-menu-wrap > ul > li {
          margin-bottom: 15px;
          text-align: left; }
          .menu-responsive .mob-menu-wrap > ul > li > a {
            color: #fff;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal; }
        .menu-responsive .mob-menu-wrap > ul .sub-item > a {
          position: relative;
          padding-right: 25px; }
          .menu-responsive .mob-menu-wrap > ul .sub-item > a:after {
            border-bottom: 1px solid #fff;
            border-right: 1px solid #fff;
            content: '';
            display: block;
            height: 7px;
            margin-top: -4px;
            pointer-events: none;
            position: absolute;
            right: 12px;
            top: 10px;
            -webkit-transform-origin: 66% 66%;
            transform-origin: 66% 66%;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transition: all 0.15s ease-in-out;
            transition: all 0.15s ease-in-out;
            width: 7px; }
        .menu-responsive .mob-menu-wrap > ul .sub-item .is-open:after {
          -webkit-transform: rotate(-135deg);
                  transform: rotate(-135deg); }
        .menu-responsive .mob-menu-wrap > ul li:last-child {
          margin-bottom: 0; }
        .menu-responsive .mob-menu-wrap > ul .sub-menu {
          display: block;
          padding: 15px 20px; }
          .menu-responsive .mob-menu-wrap > ul .sub-menu li {
            margin-bottom: 10px; }
            .menu-responsive .mob-menu-wrap > ul .sub-menu li > a {
              color: #fff;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal; }
    .menu-responsive .logo-wrap {
      width: 100px;
      margin: 0 0 40px; }
      .menu-responsive .logo-wrap img {
        vertical-align: top;
        width: 100%; }

  .is-menu .menu-responsive {
    right: 0; }

  .top-line {
    padding-top: 15px; }

  .top-line .logo-wrap a {
    opacity: 1;
    -webkit-animation: none;
            animation: none; }

  .home-banner .logo-head {
    display: none; }

  .info-block .btn-wrap {
    padding: 15px;
    grid-gap: 10px; }
    .info-block .btn-wrap .btn-border span {
      padding: 0 20px; }

  .services .content {
    margin: -120px 0 -175px 0;
    width: 100%; }

  .services .item:nth-child(n + 2) {
    top: 150px; }

  .services .content .wrap {
    grid-gap: 30px 0; }

  .services .item:nth-child(2n + 3) {
    top: 0; }

  footer .logo-wrap {
    width: 100%;
    text-align: center;
    margin-bottom: 30px; }
    footer .logo-wrap img {
      width: 110px;
      margin: auto; }

  footer .footer-menu {
    padding-left: 0;
    width: calc(100% - 300px); }

  footer .bottom .left {
    width: 100%;
    text-align: center; }

  footer .bottom .right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
    footer .bottom .right ul {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }

  .img-3d .content {
    margin-top: 0; }

  .img-3d .content figure {
    margin-bottom: 0;
    left: -100px; }

  .img-3d {
    padding-bottom: 50px; }

  .img-3d .text .item {
    padding: 20px 0; }

  .img-3d .text .number {
    font-size: 40px; }

  .img-3d .text .item:before {
    width: 450px; }

  .img-3d .text .item-4:before {
    width: 600px; }

  .documents .item {
    width: calc(50% - 11px); }

  .table-row {
    padding: 0 15px; }

  .title-img-4x .img-wrap .img-1 {
    left: 0;
    width: 200px; }

  .title-img-4x .img-wrap .img-2 {
    width: 180px; }

  .title-img-4x .img-wrap .img-3 {
    width: 250px; }

  .title-img-4x .img-wrap .img-4 {
    right: 0;
    width: 200px; }

  .title-img-4x .title-wrap {
    padding: 400px 0; }

  .news-block .filter-line .form-filter .input-wrap label {
    font-size: 14px;
    height: 36px;
    line-height: 34px; }

  .news-block .filter-line .form-filter .input-wrap {
    width: auto;
    min-width: 150px; }

  .news-banner .text {
    width: 48%; }

  .news-banner figure {
    width: 48%; }

  .text-default figure img {
    height: 320px; }

  .contact .text {
    width: 100%;
    margin-bottom: 40px; }

  .contact .form-wrap {
    padding: 0;
    width: 100%; }

  .contact .step-pagination {
    top: -25px; } }
@media (max-width: 767px) {
  .content-width {
    width: 540px; }

  .home-banner .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

  .home-banner .text {
    text-align: center;
    width: 100%;
    margin-bottom: 30px; }

  .home-banner .text p {
    width: 100%;
    text-align: center; }

  .about .title-wrap {
    width: 100%; }

  .about .text {
    width: 100%;
    padding: 0; }

  .info-block .btn-wrap a {
    width: calc(50% - 5px); }

  .news .item {
    width: 100%; }

  .news .item .title-wrap {
    min-height: inherit;
    margin-bottom: 15px; }

  .news .item .text-wrap {
    min-height: inherit; }

  footer .footer-menu {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  footer .soc-wrap {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px; }

  footer .footer-menu .item {
    width: 210px;
    padding: 0 5px; }

  footer .footer-menu h6 {
    text-align: center; }

  footer .footer-menu ul li {
    text-align: center; }

  footer .bottom {
    margin-top: 30px; }

  .sector-banner .bg .after {
    width: 200px; }

  .sector-banner h1 {
    text-align: center; }

  .img-3d .text .number {
    font-size: 26px; }

  .img-3d .text p {
    font-size: 16px; }

  .img-3d .text .item {
    padding: 15px 0; }

  .img-3d .text .item:before {
    width: 375px; }

  .img-3d .text .item-4:before {
    width: 490px; }

  .services-4x {
    padding-bottom: 50px; }

  .img-3d {
    padding-bottom: 10px; }

  .img-text-white {
    padding: 75px 0; }

  .img-text-white .title-wrap {
    width: 100%; }

  .img-text-white .text {
    width: 100%; }

  .materials .img-wrap {
    display: none; }

  .materials .accordion {
    width: 100%; }

  .materials .accordion figure {
    display: block;
    margin-top: 30px; }
    .materials .accordion figure img {
      width: 100%; }

  .materials {
    padding: 75px 0; }

  .table-row .data {
    font-size: 14px;
    line-height: 20px; }

  .table-head .data {
    font-size: 16px; }

  .table-row {
    margin-bottom: 10px; }

  .breadcrumb {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .service-table-wrap .text {
    width: 100%;
    top: 0; }

  .service-table-wrap .table {
    margin-top: 40px; }

  .service-table-wrap {
    padding: 75px 0; }

  .documents {
    padding: 75px 0; }

  .news-banner .text {
    width: 100%;
    margin-bottom: 50px; }

  .news-banner figure {
    width: 100%;
    text-align: center; }
    .news-banner figure img {
      width: 400px; }

  .text-default figure img {
    height: 265px; } }
@media (max-width: 575px) {
  .content-width {
    width: 100%;
    padding: 0 10px; }

  .home-banner .content-width {
    max-height: 700px;
    height: 100vh;
    min-height: inherit; }

  .services .item {
    width: 100%;
    top: 0 !important; }

  .services .content {
    margin: 0; }

  .services .content .wrap {
    padding-top: 30px; }

  .services .title-wrap {
    width: 100%; }

  .sector-banner .bg .after {
    width: 150px; }

  .about .logo-wrap p {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    padding: 0 10px; }

  .about .content-width {
    padding: 0; }

  .about .title-wrap {
    padding: 0 10px; }

  .about .marquee {
    width: 100%; }

  .services-4x .wrap {
    padding-bottom: 0; }

  .img-3d .text .item:before {
    display: none; }

  .img-3d .content figure {
    width: 125%;
    max-width: 125%; }

  .img-3d .text {
    top: 13%; }

  .img-text-white .content {
    margin-top: 70px; }

  .img-text-white .content .img {
    width: 100%;
    top: 0;
    margin-bottom: 20px; }

  .table-head {
    display: none; }

  .table-row .data1 {
    width: 100%; }
    .table-row .data1:before {
      display: none !important; }

  .table-row .data2 {
    width: 50%; }

  .table-row .data3 {
    width: 50%; }

  .table-row .data4 {
    width: 50%; }

  .table-row .data5 {
    width: 50%; }

  .table-row .data {
    min-height: inherit;
    margin-bottom: 10px;
    position: relative;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto; }
    .table-row .data:before {
      display: inline-block;
      margin-right: 10px;
      content: attr(data-head);
      font-size: 14px;
      line-height: 1.3; }

  .documents .top {
    width: 100%; }

  .documents .item {
    width: 100%; }

  .started-slider-wrap .swiper-slide {
    width: 300px; }

  .started-slider-wrap .nav-wrap .p-wrap {
    display: none; }

  .started-slider-wrap .nav-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .title-img-4x .img-wrap .img-1 {
    width: 120px;
    left: 20px; }

  .title-img-4x .img-wrap .img-2 {
    top: 15%; }

  .title-img-4x .img-wrap .img-3 {
    width: 175px; }

  .title-img-4x .img-wrap .img-4 {
    width: 100px;
    right: 20px; }

  .title-img-4x .title {
    font-size: 30px; }

  .title-img-4x .title-wrap {
    padding: 300px 0; }

  .title-img-4x {
    padding: 20px 0; }

  .started-slider-wrap .wrap-section {
    padding-bottom: 50px; }

  .form-section {
    padding: 50px 0; }

  .news-banner {
    padding: 150px 0 100px; }

  .home-banner .content {
    padding: 0 15px; }

  .text-default {
    padding: 70px 0 50px; }

  .text-default figure img {
    height: 45vw; }

  .contact {
    padding: 50px 0; }

  .contact h1 {
    font-size: 30px; }

  .step-slider .input-wrap-file .icon {
    width: 35px;
    height: 35px;
    padding: 3px; }
    .step-slider .input-wrap-file .icon img {
      width: 75%; }

  .step-slider .input-wrap-file .wrap {
    padding: 10px 15px; }

  .step-slider .nice-select {
    padding: 0 60px 0 15px; }

  .step-slider .input-wrap input {
    padding: 0 15px; } }

/*# sourceMappingURL=responsive.css.map */